@use '@/styles/libs/variables' as v;

// background-image: url('/about-bg.png');

.about {
  background-color: v.$red;
}

.scene {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/about-bg.png');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 84%;
}

.car {
  position: absolute;
  left: 50%;
  translate: -50% -20%;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(254, 48, 1, 0) 0%, rgba(254, 48, 1, 0) 5%, rgba(254, 48, 1, 1) 15%, rgba(254, 48, 1, 1) 100%);
}
