@use '@/styles/libs/variables' as v;

.about {
  position: relative;
  background-color: v.$red;
  overflow-x: clip;

  &::after {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 50%;
    translate: -50% 0;
    width: 250vw;
    height: 100%;
    border-radius: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgb(254, 48, 1) 75.74460506439209%, rgb(254, 48, 1) 100%);
    filter: blur(200px);
    z-index: -1;
  }
}

.about__animation {
  height: 650px;
  position: relative;
  overflow: hidden;
}

.about__animation-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/about-bg.png');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 1600px;
}

.about__animation-car {
  position: absolute;
  left: calc(50% - 150px);
  width: 300px;
}

.about__animation-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(254, 48, 1, 0) 0%, rgba(254, 48, 1, 0) 5%, rgba(254, 48, 1, 1) 15%, rgba(254, 48, 1, 1) 100%);
}

.about__info {
  padding-bottom: 200px;
}

.about__title {
  font-size: clamp(38px, 10vw, 100px);
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about__description {
  font-weight: 300;
  font-size: 50px;
  line-height: 100%;
  max-width: 885px;
}

@media (max-width: 1024px) {
  .about__title {
    margin-bottom: 10px;
  }

  .about__description {
    font-size: 32px;
    max-width: 560px;
  }

  .about__info {
    padding-bottom: 120px;
  }
}

@media (max-width: 768px) {
  .about__animation {
    height: 450px;
  }

  .about__animation-car {
    width: 200px;
    left: calc(50% - 100px);
  }

  .about__description {
    font-size: 19px;
    max-width: 350px;
  }

  .about::after {
    filter: blur(100px)
  }

  .about__info {
    padding-bottom: 80px;
  }
}
