@use '@/styles/libs/variables' as v;

// background-image: url('/about-bg.png');

.about {
  background-color: v.$red;
}

.scene {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bg {
  position: absolute;
  inset: 0;
  background-image: url('/about-bg.png');
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: 110%;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 60, 0, 0) 0%,
    rgba(255, 60, 0, 0.2) 20%,
    rgba(255, 60, 0, 0.6) 50%,
    rgba(255, 60, 0, 1) 100%
  );
  transform: translateY(0%);
}

.car {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
}
