@use '@/styles/libs/variables' as v;

.contact {
  background-color: v.$red;
  padding-top: 380px;
  padding-bottom: 262px;
}

.contact__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 4px solid black;
  border-top: 16px solid #000;
}

.contact__sign {
  position: relative;
  flex-grow: 1;
  height: -webkit-fill-available;

  & > svg {
    position: absolute;
    top: -80px;
    left: 0;
    height: 564px;
    width: 100%;
  }
}

.contact__form {
  flex: 0 0 626px;
  border-left: 4px solid black;
}

.contact__form-input {
  display: block;
  padding: 60px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 33px;
  line-height: 152%;
  text-align: center;
  width: 100%;

  &::placeholder {
    color: #00000080;
  }
}

.contact__form-button {
  background-color: black;
  width: 100%;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 51px 62px;

  &:hover {
    background-color: #131313;
  }
}
