@use '@/styles/libs/variables' as v;

.contact {
  background-color: v.$red;
  padding-top: 380px;
  padding-bottom: 262px;
}

.contact__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 4px solid black;
  border-top: 16px solid #000;
}

.contact__sign {
  position: relative;
  text-align: center;
  flex: 1 0 auto;
  font-family: 'Rockybilly', cursive;
  font-size: 80px;
  line-height: 2;
  color: black;
  z-index: 1;
  scale: 1.1;

  & > p {
    position: relative;

    &:first-child {
      top: 10px;
      left: 17px;
      rotate: -8deg;

      span {
        font-size: 30px;
      }
    }
    &:last-child {
      rotate: -15deg;

      span {
        position: relative;
        top: -30px;
        left: 10px;
        font-size: 30px;
      }
    }
  }
}

.contact__form {
  flex: 0 0 626px;
  border-left: 4px solid black;
}

.contact__form-input {
  display: block;
  padding: 60px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 33px;
  line-height: 152%;
  text-align: center;
  width: 100%;

  &::placeholder {
    color: #00000080;
  }
}

.contact__form-button {
  background-color: black;
  width: 100%;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 51px 62px;

  &:hover {
    background-color: #131313;
  }
}
