@use '@/styles/libs/variables' as v;

.featured {
  padding-top: 100px;
  margin-bottom: -150px;
  overflow: hidden;
}

.featured__title {
  font-weight: 600;
  font-size: clamp(38px, 10vw, 100px);
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.featured__subtitle {
  font-weight: 300;
  font-size: 50px;
  line-height: 100%;
  max-width: 885px;
}

.featured__slider {
  display: flex;
  align-items: center;
}

.featured__slider-logos {
  position: relative;
  user-select: none;
  touch-action: pan-y;
  flex: 1 0 500px;
}

.featured__slider-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transition: all 0.5s ease;
  opacity: 0.5;

  img {
    width: 200px;
    cursor: pointer;
  }

  &.is-active {
    opacity: 1;
    transform: scale(1.3) translate(-50%, -50%);
    z-index: 2;

    img {
      cursor: default;
    }
  }
}

.featured__slider-cars {
  position: relative;
  margin-right: -200px;
  flex-basis: 1100px;
}

.featured__slider-car {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s ease;

  &.is-active {
    opacity: 1;
    position: relative;
  }
}

// .featured__slider-car--lamborghini  {
//   margin-top: -65px;
// }

@media (max-width: 1440px) {
  .featured__slider-cars .featured__slider-car img {
    width: 100%;
  }

  .featured__slider-logo img {
    width: 150px;
  }
}

@media (max-width: 1024px) {
  .featured__title {
    margin-bottom: 10px;
  }

  .featured__subtitle {
    font-size: 32px;
    max-width: 560px;
  }

  .featured__slider {
    flex-direction: column;
    margin-top: 150px;
    gap: 100px;
  }

  .featured__slider-logos {
    flex-basis: auto;
  }

  .featured__slider-cars {
    margin-right: 0;
    flex-basis: auto;
  }
}

@media (max-width: 768px) {
  .featured__subtitle {
    font-size: 19px;
    max-width: 350px;
  }
}

@media (max-width: 528px) {
  .featured__slider {
    margin-top: 90px;
  }

  .featured__slider-logo img {
    width: 100px;
  }
}