@use '@/styles/libs/variables' as v;

.featured {
  margin-bottom: 200px;
}

.featured__title {
  font-weight: 600;
  font-size: 100px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.featured__subtitle {
  font-weight: 300;
  font-size: 50px;
  line-height: 100%;
  max-width: 885px;
}

.featured__slider-logos {
  position: relative;
  width: 300px;
  height: 120px;
  margin: 0 auto;
  user-select: none;
  touch-action: pan-y;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transition: all 0.5s ease;
  opacity: 0.5;
}

.logo img {
  width: 200px;
}

.logo.active {
  opacity: 1;
  transform: scale(1.3) translate(-50%, -50%);
  z-index: 2;
}

.cars {
  position: relative;
}

.car {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.car.active {
  opacity: 1;
  position: relative;
}