@use '@/styles/libs/variables' as v;

.footer {
  background-color: black;
  padding: 80px 50px 120px;
  color: #fff;
}

.footer__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
}

.footer__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__left {
  max-width: 560px;
}

.footer__left-logo {
  display: block;
  margin-bottom: 60px;
}

.footer__left-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 109%;
}

.footer__center {
  max-width: 360px;
}

.footer__center-address {
  font-style: normal;
  margin-bottom: 30px;
}

.footer__center-address-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 109%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__center-address-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 109%;
}

.footer__center-contact-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 109%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__center-contact-link {
  font-weight: 400;
  font-size: 22px;
  line-height: 109%;
  color: white;
}

.footer__right {
  max-width: 220px;
}

.footer__right-link {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 109%;
  text-transform: uppercase;
  color: white;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .footer__left-logo {
    display: inline-block;
    margin-bottom: 30px;

    img {
      width: 150px;
    }
  }

  .footer__left-description,
  .footer__center-address-text,
  .footer__center-contact-link {
    font-size: 14px;
  }

  .footer__center-address-title,
  .footer__right-link,
  .footer__center-contact-title {
    font-size: 16px;
  }

  .footer__right-link {
    margin-bottom: 13px;
  }
}

@media (max-width: 528px) {
  .footer {
    padding: 40px 0;
  }
}