@use '@/styles/libs/variables' as v;

.hero {
  background-color: v.$red;
  padding-top: 230px;
  padding-bottom: 200px;
  overflow: hidden;

  .hero__title {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      translate: -50% 0;
      height: 100%;
      width: 150%;
      background: linear-gradient(to right, rgba(254, 48, 1, 0) 0%, rgba(254, 48, 1, 0) 5%, rgb(254, 48, 1) 15%, rgb(254, 48, 1) 100%);
      animation: heroTitleSlide 5s ease-in-out forwards;
    }

    @keyframes heroTitleSlide {
      100% {
        translate: 50% 0;
      }
    }
  }

  .section-title {
    font-size: 200px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 32px;
  }

  .section-subtitle {
    font-size: 82px;
    line-height: 1;
    text-transform: uppercase;
  }
}

.hero__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  margin-top: 120px;
}

.hero__wrapper-description {
  max-width: 470px;

  .description__images {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 38px;
  }

  .description__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
  }
}

.hero__wrapper-illustration {
  position: relative;
  margin-right: -220px;

  .illustration-description {
    position: absolute;
    top: -160px;
    left: 140px;
    font-family: v.$font-secondary;
    font-size: 70px;
    line-height: 2;
    color: white;
    max-width: 600px;
    z-index: 1;

    & > p {
      position: relative;

      &:first-child {
        top: 10px;
        left: 17px;
        rotate: -8deg;

        span {
          font-size: 30px;
        }
      }
      &:last-child {
        rotate: -15deg;

        span {
          position: relative;
          top: -30px;
          left: 10px;
          font-size: 30px;
        }
      }
    }
  }

  .illustration-car {
    position: relative;
    z-index: 2;
  }
}
